
.DS_Store
*.meta
data/cifar/data_batch_1
data/cifar/data_batch_2
data/cifar/data_batch_3
data/cifar/data_batch_4
data/cifar/data_batch_5
data/cifar/test_batch
data/mnist/get_data.sh
data/mnist/t10k-images-idx3-ubyte
data/mnist/t10k-labels-idx1-ubyte
data/mnist/train-images-idx3-ubyte
data/cifar/readme.html
data/mnist/train-labels-idx1-ubyte
*.pyc
